.nav {
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 25px;
    width: 75%;
    margin: auto
  }

.nav a {
    color: #fff;
    transition: ease-in-out color .15s;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(43, 43, 43);
    text-decoration: none;
}