body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    max-width: 85%;
    color:white
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}

/* input field */
.center-input {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* modal */
.bg-error {
  background-color: pink;
}